# EditorConfig file
root = true

# Default configuration for all filetypes
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Indented blank lines is a pretty common use case for markdown files.
[*.{md,markdown}]
trim_trailing_whitespace = false